extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a RESTful api that serves up random quotes from Craft Academy's founder Thomas Ochman.
  p Endpoint for GET requests https://toaas.herokuapp.com/quotes